body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
}

header footer {
    text-align: center;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.wHunt {
    margin-top: 20px;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: black;
    margin-left: 20px;
    font-size: .9rem;
}

.pageContent {
    display: block;
    margin: 10px auto;
    border: 1px solid #000000;
    padding: 20px;
    color: #fff;
    background-color: #415236;
    font-style: italic;
    font-size: 1.2rem;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
}

nav {
    margin: 0 auto;
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #ff6700 0%, #e18d01 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #207cca 0%, #ff6700 0%, #e18d01 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #207cca 0%, #ff6700 0%, #e18d01 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e18d01', GradientType=0);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul li a:hover {
    background-color: rgba(227, 215, 185, 0.6);
}

nav ul.hide {
    display: none;
}

main {
    max-width: 95%;
    margin: auto;
}

footer {
    font-size: 1rem;
    padding: 10px;
    background-color: #ff6700;
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #ff6700 0%, #e18d01 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #207cca 0%, #ff6700 0%, #e18d01 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #207cca 0%, #ff6700 0%, #e18d01 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e18d01', GradientType=0);
}

#onlineLearn {
    color: white;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}