body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #adcbe3;
    color: black;
    padding-top: 2em;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    margin: 0.15rem;
    color: #ccc12a;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: white;
}

ul {
    list-style: none;
    text-align: left;
}

header,
footer {
    background: #2a4d69;
    color: #ccc12a;
    text-align: center;
    border-radius: 15px;
}

footer {
    height: 80%;
}

img {
    width: 200px;
    height: auto;
    float: right;
}

header,
nav,
footer {
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 45rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
    grid-gap: 0.8em;
    padding: 0.8em;
}

a {
    color: #354725;
}

footer a {
    color: #e5dfd5;
}

section {
    border-radius: 15px;
    text-align: center;
    background-color: #2a4d69;
    color: white;
}

a:link {
    color: #01b6d1;
}

a:visited {
    color: #01b6d1;
}

a:hover {
    color: #ccc12a;
}