@import url('');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border: 1px solid #333;
    padding: 1.5px;
    filter: blur(0.0em);
    transition: filter 0.5s;
    width: 300px;
    height: 400px;
}

img[data-src] {
    filter: blur(0.2em);
}

header {
    text-align: center;
}

footer {
    text-align: center;
}