body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #415236;
}

header,
footer {
    background-color: #000000;
    color: #FF6700;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

main section {
    margin: 0.5rem;
    border: 1px solid #ccc;
    padding: 0 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    background-color: #CCCCCC;
    border-radius: 15px 15px 0px 0px;
}

header {
    border-radius: 0 0 6px 6px;
}

footer {
    border-radius: 6px 6px 0 0;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #FF6700;
}