@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
    font-family: 'ubuntu', 'sans-serif';
    font-size: 16px;
}

h1,
footer {
    display: flex;
    justify-content: center;
    padding: 5px
}

footer {
    margin-top: 10px;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

a:hover {
    color: #7fb9c2;
}

table {
    box-shadow: .4em .4em .8em #628ca6;
}

table,
th,
td {
    border: 1px solid #c9c7c7;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    font-size: 1.5em;
}

thead,
tfoot {
    background-color: #7fb9c2;
}

tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

tbody tr:nth-child(1) {
    background-color: #628ca6;
    color: #fff;
    font-size: 1.2em;
}

thead tr:nth-child(2) {
    background-color: #628ca6;
    color: white;
    font-style: bold;
}

td,
th {
    padding: .5em;
    text-align: center;
}

table tbody span {
    font-style: italic;
}

table tbody td.bfNum {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: .8em;
}


/* The color scheme includes #e7f0ed grn, #e7ffed dark (data rows) and #628ca6, #7fb9c2 along with standard white and black. */