body {
    font-family: $fontFamily;
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: $fontFamilyHead;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main footer {
    max-width: 95%;
    margin: auto;
}

ul,
li {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    display: inline;
}

footer a:link {
    color: $accentColor;
}

footer a:visited {
    color: $accentColor;
}

footer a:hover {
    color: $darkColor;
}

a:link {
    color: $primaryColor;
}

a:visited {
    color: $primaryColor;
}

a:hover {
    color: $accentColor;
}

footer,
h2 {
    color: white;
    font-size: 1rem;
    padding: 10px;
    background-color: $primaryColor;
    background: $primaryColor;
    justify-items: center;
    align-items: center;
}

.translate {
    transform: translate(75px, 25px);
}
.rotate {
    transform: rotate(20deg);
}
.scale {
    transform: scale(3, 2.75);
}
.skew {
    transform: skew(20deg, 10deg);
}
.hover {
    color: $darkColor;
    transition: color 2s;
}
.hover:hover {
    color: $primaryColor
}

@keyframes example {
    from {background-color: $darkColor;}
    to {background-color: $primaryColor;}
  }

  .animations {
      color: white;
    animation-name: example;
    animation-duration: 4s;
  }

.bc{
    background-color: $medColor;
}

.container{
    width: 300px;    
    background-color: #FFF;
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: $primaryColor;
}

.noti{
    background-color: #f8d7da;
    display: none;
}

.noti p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temp-value{
    width: 300px;
    height:60px;
}

.temp-value p{
    padding: 0;
    margin: 0;
    color: $darkColor;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temp-value span{
    color: $medColor;
    font-size: 0.5em;
}


.temp-info p{
    padding: 8px;
    margin: 0;
    color: $primaryColor;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: $primaryColor;
    text-align: center;
    font-size: 0.8em;
}